
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap');
@import 'tailwindcss';

body {
  text-align: center;
  background-color: black; /* Fallback background */
  background-image: url('/3000.jpg'); /* Your image */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto; /* Full width, preserve aspect ratio */
  min-height: 100vh; /* Ensures body takes at least full viewport height */
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h1 {
  color: #618784;
  font-size: 90px;
  margin: 40px ;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  @apply my-50;
}

h2 {
  font-size: 26px;
  @apply text-[#96aaa9];
}
@media(min-width : 500px){
  h2{
  font-size: 36px;
  }
}

input {
  font-size: 20px;
  border: 1px solid gray;
  outline: none;
  @apply rounded-2xl p-2;
}

button{
  @apply h-fit;
}

.section{
  @apply flex place-items-center justify-between bg-[#090b0b7e] rounded-2xl p-6 m-11;
}
.logo {
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}