
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap');
@import 'tailwindcss';

body {
  text-align: center;
  background-color: black; /* Fallback background */
  background-image: url('/img/3000m.jpg'); /* Your image */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto; /* Full width, preserve aspect ratio */
  min-height: 100vh; /* Ensures body takes at least full viewport height */
  width: 110%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media(min-width : 500px){
  body{
  background-image: url("/img/3000.jpg"); /* Your image */
  width: 100%;
}}

.h1 {
  font-size: 90px;
  margin: 90px ;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  @apply text-[#5f8296] sm:text-[#618784] my-20 sm:my-30 text-[80px] sm:text-[90px];
}

h2 {
  font-size: 22px;
  @apply text-[#96aaa9] ;
}
@media(min-width : 500px){
  h2{
  font-size: 36px;
  }
}

p{
  @apply text-[#96aaa9] ;
}

input {
  font-size: 20px;
  color: #999999;
  border: 1px solid #777777;
  outline: none;
  @apply rounded-2xl p-2 text-[18px] sm:text-[20px];
}

button{
  @apply p-2 bg-[#1d2129];
}

.section{
  @apply flex place-items-center justify-between bg-[#07080895] rounded-2xl p-5 m-6;
}
.icon{
  @apply w-7 h-7;
}
.logo {
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}